<div class="login-page">
  <div class="form">
    <h2>Register</h2>
    <form [formGroup]="registerForm" class="login-form" (ngSubmit)="onSubmit()">
      <input [ngClass]="{'req': submitted && f['username'].errors}" type="text" formControlName="username" placeholder="username" />

      <input [ngClass]="{'req': submitted && f['password'].errors}" type="password" formControlName="password" placeholder="password" />

      <input [ngClass]="{'req': submitted && f['first_name'].errors}" type="text" formControlName="first_name" placeholder="first name" />

      <input type="text" [ngClass]="{'req': submitted && f['last_name'].errors}" formControlName="last_name" placeholder="last name" />

      <input type="text" [ngClass]="{'req': submitted && f['phone'].errors}" formControlName="phone" placeholder="phone" />

      <input type="text" formControlName="address" [ngClass]="{'req': submitted && f['address'].errors}" placeholder="address" />

      <button>Register</button>
      <p class="message">Not registered? <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Create an account</a></p>
    </form>
  </div>
</div>
